.custom-card {
  background: var(--white);
  padding: 20px;
  border: 1px solid var(--pale-grey-two);
  border-radius: 10px;
  // box-shadow: 1px 1px 1px 1px #8888886b;
  margin: 20px;
  position: relative;
  &__title {
    font-size: 10px;
    font-weight: 300;
    margin: 0;
    color: var(--dark);
    margin-bottom: 5px;
  }

}