.custom-card {
  background: var(--white);
  padding: 16px 22px;
  border: 1px solid var(--pale-grey-two);
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px #8888886b;
  margin: 20px;

  &__title {
    font-size: 14px;
    margin: 0;
    color: var(--dark);
    margin-bottom: 5px;
  }

}