.home-card{
    height: 100px;
    .feeds-container {
        display: flex;
        flex-direction: column;
        
        p {
            margin: 3px 0;
        }
        
        div {
            margin: 5px 0;
            font-size: 10px;
            font-family: fantasy;
        }
    }
}