*{
  box-sizing: border-box;
}

html,body,#root{
  height: 100%;
  width: 100%;
  margin:0;
  font:600 16px/18px 'Open Sans',sans-serif;
  background: #fefefe;
}
.d-flex {
  display: flex;
  justify-content: space-between;
}
.overflow {
  overflow: hidden;
}
.flex-row {
  flex-direction: row;
}
.flex-row-reverse {
  flex-direction: row-reverse;
}
.align-center {
  align-items: center;
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  overflow: hidden;
  background: #211b3ec7;
  div {
    width: 25%;
    display: flex;
    justify-content: center;
    padding: 2.2vh 2.2vw;
    position: relative;
    transition: all 200ms ease-in-out;
    span {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
    }
    img {
      height: 4vh;
      width: 6vw;
    }
    &.active_footer {
      // background: #ffffff38;
      // border-bottom-left-radius: 30px;
      // border-bottom-right-radius: 30px;
      background: linear-gradient(#ffffff0d,#211b3e);
      &:first-child {
        // border-bottom-left-radius: 0px;
      }
      &:last-child {
        // border-bottom-right-radius: 0px;
      }
    }
  }
}


.login-signup  {
  height: 100%;
  width: 100%;
  background:url('./assets/bg.jpg') no-repeat center ;
  background-size: cover;
  box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
.main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: rgba(40,57,101,.9);
  flex-direction: column;
  width: 100%;
  padding: 30px;

  h2,
  p {
    text-align: center;
  }

  h2 {
    text-align: center;
    border-radius: 10px 10px 0 0;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
  }
  .password_section,.cfm_pass{
    width: 100%;
  }
  .input__container {
    margin-bottom: 20px;
    width: 100%;
    max-width: 500px;
    .input__label{
      color: #fbfbfd;  
    }
    .input__element {
      width: 100%;
      min-height: 35px;
      padding: 0;
      /*border: 2px solid #ccc;*/
      border-bottom: 1px solid #cccccc4f;
      border-left: none;
      border-top: none;
      border-right: none;
      color: #fbfbfda3;
      font-size: 16px;
      font-weight: bold;
      outline: none;
      background-color: transparent;
    }

    span {
      color: #ff0000;
    }
  }

  p {
    font-size: 12px;
    margin: 15px 0;
    max-width: 500px;
    color: #fbfbfd;
    u {
      margin-top: 20px;
      font-weight: bold;
      color: #fff;
      text-align: center;
    }
  }
}
}
